body { background: linear-gradient(to right, #83adfc, #838383); }

.container { display: flex; flex-direction: column; justify-content: center; align-items: center; }

.container p { margin: 40px auto; }

.btn { padding: 5px 15px; margin: 0 5px; font-size: 20px; color: white; background-color: #00bfff; border-radius: 8px; box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.7); }
